@import url('place/place.css');

.places {
    margin-left: auto;
    margin-right: auto;
    font-family: 'Inter', sans-serif;
    color: #fff;
    padding-bottom: 102px;
}

/* для разрешения 1280px и выше */
@media screen and (min-width: 1280px) {
    .places {
        max-width: 985px;
    }
}
/* для разрешений от 1024px до 1280px */
@media screen and (min-width: 1024px) and (max-width: 1279px) {
    .places {
        width: calc(100% - 296px);
    }
}
/* для разрешений от 625px до 1024px */
@media screen and (min-width: 625px) and (max-width: 1023px) {
    .places {
        width: calc(100% - 96px);
    }
}
/* для разрешений до 625px */
@media screen and (max-width: 624px) {
    .places {
        width: 100vw;
        padding-bottom: 64px;
    }
}
