.barentsburg__title {
    font-family: 'Inter', sans-serif;
    font-size: 42px;
    font-style: normal;
    font-weight: 900;
    line-height: 61px;
    color: #fff;
    margin: 0px;
    margin-bottom: 20px;
}