.header__logo {
    width: 176.58px;
    height: 52px;
    object-fit: none;
}

@media screen and (max-width: 375px) {
    .header__logo {
        width: 142px;
        height: 42px;
        object-fit: contain;
    }
}