.barentsburg__text {
    width: 380px;
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: normal;
    line-height: 30px;
    color: #fff;
    margin: 0px;
    margin-right: 120px;
}