.video__title {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 900;
    color: #fff;
    margin: 0;
    position: relative;
    z-index: 2;
}

/* для разрешения 1280px и выше */
@media screen and (min-width: 1280px) {
    .video__title {
        width: 322px;
        font-size: 2.25rem;
        line-height: 1.1;
        margin-bottom: 18px;
    }
}
/* для разрешений от 1024px до 1280px */
@media screen and (min-width: 1024px) and (max-width: 1280px) {
    .video__title {
        width: 322px;
        font-size: 2.25rem;
        line-height: 1.1;
        margin-bottom: 18px;
    }
}
/* для разрешений от 768px до 1024px */
@media screen and (min-width: 768px) and (max-width: 1023px) {
    .video__title {
        font-size: 1.5rem;
        line-height: 1.1;
        margin-bottom: 12px;
    }
}
/* для разрешений от 425px до 768px */
@media  screen and (max-width: 767px) {
    .video__title {
        font-size: 1.5rem;
        line-height: 1.1;
        margin-bottom: 2px;
    }
}