.intro__text {
    font-family: 'Inter', sans-serif;
    color: #fff;
    margin: 0px;
    list-style-type: none;
    font-weight: bold;
    font-style: normal;
    padding-left: 0px;
}

.intro__text span {
    font-family: 'Inter', sans-serif;
    font-weight: normal;
}

/* для разрешения 1280px и выше */
@media screen and (min-width: 1280px) {
    .intro__text {
        width: 383px;
        font-size: 0.8rem;
        line-height: 1.25;
    }
    .intro__text span {
        font-size: 0.8rem;
        line-height: 1.25;
    }
}
/* для разрешений от 1024px до 1280px */
@media screen and (min-width: 1024px) and (max-width: 1280px) {
    .intro__text {
        max-width: 383px;
        font-size: 0.8rem;
        line-height: 1.25;
    }
    .intro__text span {
        font-size: 0.8rem;
        line-height: 1.25;
    }
}
/* для разрешений от 768px до 1024px */
@media screen and (min-width: 768px) and (max-width: 1024px) {
    .intro__text {
        max-width: 692px;
        font-size: 0.8rem;
        line-height: 1.25;
    }
    .intro__text span {
        font-size: 0.8rem;
        line-height: 1.25;
    } 
}
/* для разрешений от 425px до 768px */
@media screen and (min-width: 425px) and (max-width: 768px) {
    .intro__text {
        margin-left: auto;
        margin-right: auto;
        width: calc(100vw - 48px);
        font-size: 0.8rem;
        line-height: 1.25;
    }
    .intro__text span {
        font-size: 0.8rem;
        line-height: 1.25;
    }
}
/* для разрешений до 425px */
@media screen and (max-width: 425px) {
    .intro__text {
        margin-left: auto;
        margin-right: auto;
        width: calc(100vw - 32px);
        font-size: 0.75rem;
        line-height: 1.2;
    }
    .intro__text span {
        font-size: 0.75rem;
        line-height: 1.2;
    }
}