.cover__title {
    width: 92%;
    font-family: 'Inter', sans-serif;
    font-size: 4.5rem;
    line-height: 1.1;
    font-style: none;
    font-weight: 900;
    color: #fff;
    padding-top: 23%;
    margin: 0;
    text-align: center;
}

@media screen and (max-width: 768px){
    .cover__title {
        font-size: 3rem;
        line-height: 1.1;
    }
}
@media screen and (max-width: 425px){
    .cover__title {
        font-size: 2rem;
        line-height: 1.1;
    }
}