.cover__iframe {
    width: 98%;
    max-width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    /* сначала iframe скрыт при активации - меняем его z-index */
    z-index: -1;
    transition: z-index 1s ease;
}

@media screen and (min-width: 1280px) {
    .cover__iframe {
        max-width: 1184px;
    }
}

