.place__header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-end;
}

/* для разрешения 1280px и выше */
@media screen and (min-width: 1280px) {
    .place__header {
        margin-bottom: 60px;
    }
}
/* для разрешений от 1024px до 1280px */
@media screen and (min-width: 1024px) and (max-width: 1280px) {
    .place__header {
        margin-bottom: 60px;
    }
}
/* для разрешений от 768px до 1024px */
@media screen and (min-width: 768px) and (max-width: 1024px) {
    .place__header {
        margin-bottom: 40px;
    }
}
/* для разрешений от 425px до 768px */
@media screen and (min-width: 425px) and (max-width: 768px) {
    .place__header {
        margin-bottom: 32px;
    }
}
/* для разрешений до 425px */
@media screen and (max-width: 425px) {
    .place__header {
        margin-bottom: 32px;
        margin-left: auto;
        margin-right: auto;
        width: calc(100vw - 32px);
    }
}

